<% skin w3mamcat_skin %>
<% view contact uses content::master extends master%>

<% template page_content() %>  

	<div id="content">
        <div class="article">
            <h2>Contacts</h2>
            <div class="contact">		
                <b>Joseph J. DiStefano III</b><br/>
                Professor of Computer Science, Medicine, and Biomedical Engineering<br/>
                UCLA<br/>
                4711 Boelter Hall<br/>
                Los Angeles, CA 90095-1596 <br/>
                (310) 825-7482 <br/>
                <a href="mailto:joed@cs.ucla.edu">joed@cs.ucla.edu</a><br/>
            </div>

            <div class="contact">
                <b>Chelsea Ju</b><br/>
                Graduate Student <br/>
                UCLA Computer Science Department<br/> 
                <a href="mailto:chelseaju@cs.ucla.edu">chelseaju@cs.ucla.edu</a><br/>
            </div>

            <div class="contact">
                <b>Sepideh Mazrouee</b><br/>
                Graduate Student <br/>
                UCLA Computer Science Department<br/>
                <a href="mailto:sepideh@cs.ucla.edu">sepideh@cs.ucla.edu</a><br/>
            </div>

            <div class="contact">
                <b>UCLA Biocybernetics Laboratory </b><br/>
                <a href="mailto:http://www.biocyb.cs.ucla.edu">http://www.biocyb.cs.ucla.edu</a><br/>
            </div>	

        </div>
	</div>
<% end template %>  
<% end view %>  
<% end skin %>  
